.bg-zinc-50{background-color: rgb(250 250 250);}
.bg-zinc-100{background-color: rgb(244 244 245);}	
.bg-zinc-200{background-color: rgb(228 228 231);}	
.bg-zinc-300{background-color: rgb(212 212 216);}	
.bg-zinc-400{background-color: rgb(161 161 170);}	
.bg-zinc-500{background-color: rgb(113 113 122);}	
.bg-zinc-600{background-color: rgb(82 82 91);}	
.bg-zinc-700{background-color: rgb(63 63 70);}	
.bg-zinc-800{background-color: rgb(39 39 42);}	
.bg-zinc-900{background-color: rgb(24 24 27);}	
.bg-zinc-950{background-color: rgb(9 9 11);}	